.card-body {
    justify-content: space-between;
    height: 250px;
    display: flex;
    flex-direction: column;
  }

.card-img-top {
    width: 80%;
    height: 10vw;
    object-fit: cover;
}
  
  